.doctor-container {
  background-color: rgb(34, 33, 33);
  padding-bottom: 40px;
}
.home-text {
  /* text-align: center; */
  font-weight: 700;
  color: white;
}
.doctors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.doctors img {
  margin-top: 30px;
  height: 500px;
  /* margin-left: 25px; */
  border-radius: 20px;
}
.doctors-details {
  color: rgb(249, 229, 9);
  font-weight: 900;
  /* text-align: center; */
  padding: 15px 40px;
  margin: 80px;
  border-radius: 20px;
  margin-top: -100px;
  margin-right: 20px;
}
@media only screen and (max-width: 600px) {
  .doctors {
    grid-template-columns: repeat(1, 1fr);
  }
}
