.service {
  border-radius: 10px;
  text-align: center;
  /* padding: 10px 20px; */

  background-color: rgb(40, 39, 39);
  margin: 10px;
}
.service img {
  width: 80%;
  height: 40%;
  border-radius: 10px;
  margin-top: 20px;
}
.service h3 {
  color: aliceblue;
  font-weight: 800;
}
.service h2 {
  color: aliceblue;
}
.service p {
  color: aliceblue;
}
.service Button {
  padding: 10px 40px;
}
@media only screen and (max-width: 600px) {
  .service {
    padding-bottom: 20px;
  }
  .service img {
    width: 90%;
  }
}
